.bigDropDown {
    height: 25%;
    /*   padding: 1%;*/
    width: 100%;
    padding-top: 0px;
}

.smallDropDown {
    height: 25%;
    width: 100%;
    padding-top: 0px;
}

h6 {
  /*  margin-bottom: 2px;*/
  /*  margin-top: 2px;*/
    color: #5e5e5e;
}

.settingsColumn {
    text-align: center;
    background-color: #2b2b2b;
    border-radius: 5px;
}

#settings {
    background-color: #2a2a2a;
}

#overlay {
    background-color: #2a2a2a;
    position: absolute;
    padding:70px;
    width: 50%;
    border-radius: 5px;
}

.slider {
    width: 100%;
}

/*THE DROPDOWNS*/

.k-autocomplete.k-state-default, .k-picker-wrap.k-state-default, .k-numeric-wrap.k-state-default, .k-dropdown-wrap.k-state-default {
    background-color: #020202;
    border: none;
}

.k-dropdown .k-input, .k-dropdown .k-state-focused .k-input, .k-menu .k-popup {
    color: white;
}

.k-item {
    background-color: #161616;
    color: white;
    text-align: center;
}

.k-list, .k-reset {
    background-color: #161616;
    border: none;
}

.k-block, .k-widget {
    background-color: #161616;
}

/*SLIDERS*/

.k-slider-selection {
    background-color: #37c92d;
}

.k-slider-track {
    background-color: #020202;
    border-radius: 4px;
}

.k-slider-wrapper, .k-slider-selection, .k-slider-track {
    border: none;
}

.k-draghandle {
    background-color: white;
}

.k-i-arrow-s {
  /*Add white expand icon here*/
}

.k-tooltip {
    /*margin-top:3.5%;*/
    border-radius: 25px;
    font-size: small;
    padding-top: 0px
    padding-bottom: 0px;
}

