@media (max-width: 1024px) {
    .videoWrapper iframe {
        position: absolute;
        top: 0;
        margin-left: 0%;
        width: 100%;
        height: 100%;
    }

    .videoWrapper {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0;
    }

    .sidebar {
        margin-top:60%
    }

    .counterHHMMSS {
        magrin-top: 0%;
    }

    .timer {
        margin-top:50%
    }

    .col-md-1 {
        display: none;
    }
}

@media (min-width: 1024px) {
    .videoWrapper iframe {
        position: absolute;
        top: 0;
        margin-left: 25%;
        width: 50%;
        height: 100%;
    }

    .videoWrapper {
        position: relative;
        padding-bottom: 28.125%;
        padding-top: 25px;
        height: 0;
    }

    .timer {
        margin-top:40%
    }

    .timer img {
        margin-left: 30%;
    }

    .counterHHMMSS {
        margin-top:-0.0005%
    }
}