<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>LiveSwiper</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/streamBox.css">
    <link rel="stylesheet" href="css/toolbar.css">
    <link rel="stylesheet" href="css/modal.css">

    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/general.js"></script>
</head>
<body>

<div ng-app="LiveSwiper" ng-controller="customersCtrl" resize ng-cloak>

    <div class="col-md-3 streamInfo sidebar" style="z-index: 1; float: left;">
        <br>

        <stream-Info
                info='{field: "service_s", value: response.service_s,  src:"img/" +  response.service_s + ".png"}'
                add-pref='addPreference(field, value, preference)'>
        </stream-Info>

        <stream-Info
                info='{field: "username_s", value: response.username_s, src: response.profilePic_s === undefined ? "img/User.png" : response.profilePic_s}'
                add-pref='addPreference(field, value, preference)'>
        </stream-Info>

        <stream-Info info='{field: "viewers_i", value: response.viewers_i, src: "img/views.png"}'
                     add-pref='buildCustomPreference(field, value, preference)'>
        </stream-Info>

    </div>
    <div class="col-md-3 streamSettings sidebar" style="float:right; z-index: 2;">
        <img class="col-md-3" style="float:left;margin-top: 2px;  z-index: 2; cursor: pointer;" src="img/settings.png"
             ng-click="openSettings()">

        <h3 class="col-md-4 btn-responsive label1">Swipe Settings</h3>
    </div>

    <div class="videoWrapper" style="z-index: 0;">
        <iframe ng-src="{{embedURL}}" frameborder="0" allowfullscreen class="center-block">
            Your browser does not support Iframes
        </iframe>
    </div>

    <br>
    <section id="toolbar" style="margin-left: 25%; width: 50%;">
        <p style="text-align:left" class="col-md-8 lead title">{{title}}</p>

        <div class="col-md-4 buttons">
            <button ng-click="loadNextStream()" class="btn btn-primary" style="text-align: left">Next
                Stream
            </button>
        </div>
    </section>

    <modal-dialog show='showModal' width='750px' height='90%'>

        Please specify a condition regarding <b>{{field.replace('_i','')}}</b> that
        you {{preference}}:
        <br>
        <br>
        {{field.replace('_s','').replace('_i','')}}
        <select ng-model="model.id" ng-selected="$first">
            <option value="="> =</option>
            <option value=">"> ></option>
            <option value="<"> <</option>
        </select>
        {{value}}
        <br>
        <br>
        <button class="btn-responsive btn btn-success" style="text-align: right"
                ng-click='addPreference(field, model.id + value, preference); hideModal()'>
            Submit
        </button>

    </modal-dialog>

    <modal-dialog show='showSettings' width='750px' height='90%'>

        <h3 style="text-align: center"> Swipe Settings </h3>

        <div ng-repeat="(key, value) in userPreferences">

            <div>
                {{key.replace('_i','').replace('_s', '')}} :
            </div>

            <div ng-repeat="x in value.like" style="border: thin green solid" class="fit">
                {{x}}
                <button ng-click='removePreference(key, $index, "like")'> x</button>
            </div>

            <div ng-repeat="x in value.dislike" style="border: thin red solid" class="fit">
                {{x}}
                <button ng-click='removePreference(key, $index, "dislike")'> x</button>
            </div>

            <br>
        </div>
        <style>
            .swipeSettings button {
                text-align: right;
                padding: 5px;
            }

            .fit {
                display: inline-block
            }
        </style>

    </modal-dialog>
</div>

<script>
    var app = angular.module('LiveSwiper', []);
    app.controller('customersCtrl', function ($scope, $sce, $http) {
                $scope.userPreferences = {};
                var serviceConfiguration = {
                    Twitch: {
                        additionalParameters: '',
                        getCustomUrl: function (response) {
                            return response.webEmbedURL_s.replace('hls', 'embed');
                        }
                    },
                    Ustream: {
                        additionalParameters: 'autoplay=true'
                    },
                    YouTube: {
                        additionalParameters: 'autoplay=1&controls=0'
                    },
                    Dailymotion: {
                        additionalParameters: 'autoplay=1'
                    },
                    Hitbox: {
                        additionalParameters: 'autoplay=true'
                    },
                    Bambuser: {
                        additionalParameters: 'autoplay=1'
                    },
                    Azubu: {
                        additionalParameters: ''
                    }
                }

                $scope.loadNextStream = function () {
                    $http.get("http://api.liveguide.li/getRandomStream" + '?a=' + Math.random() + buildFilter()) //Prevent caching with random parameter
                            .success(function (response) {
                                response = response.response.content;
                                $scope.model = {service: {name: response.service_s}};
                                $scope.response = response;

                                if (response.hasOwnProperty('title')) {
                                    $scope.title = response.title[0];
                                } else {
                                    console.log('Stream response did not contain a title');
                                    $scope.title = 'Unknown Stream';
                                }
                                if (response.hasOwnProperty('webEmbedURL_s')) {
                                    var streamUrl = response.webEmbedURL_s;

                                    if (serviceConfiguration.hasOwnProperty(response.service_s)) {
                                        $scope.service = response.service_s


                                        var serviceConfig = serviceConfiguration[response.service_s];

                                        if (serviceConfig.hasOwnProperty('getCustomUrl')) {
                                            streamUrl = serviceConfig.getCustomUrl(response);
                                        }

                                        var join = streamUrl.indexOf('?') === -1 ? '?' : '&';
                                        streamUrl = streamUrl + join + serviceConfig.additionalParameters;
                                    }

                                    $scope.embedURL = $sce.trustAsResourceUrl(streamUrl);
                                    $scope.user = response.username_s;
                                } else {
                                    $scope.handleIncorrectResponse('missing web webEmbedURL_s')
                                }
                            }).error(function (data, status, headers, config) {
                                $scope.handleIncorrectResponse(status);
                            });
                }
                $scope.handleIncorrectResponse = function (message) {
                    //TODO - add proper error message in UI
                    console.log('There was a problem with current service json response: ' + message + ' . Loading next stream.');
                    $scope.loadNextStream();
                }
                $scope.buildCustomPreference = function (field, value, preference) {
                    console.log(preference);
                    $scope.showModal = true;
                    $scope.field = field;
                    $scope.value = value;
                    $scope.preference = preference;
                }
                $scope.addPreference = function (field, value, preference) {
                    if (!$scope.userPreferences.hasOwnProperty(field)) {
                        $scope.userPreferences[field] = {};
                    }

                    var thisField = $scope.userPreferences[field];

                    if (!thisField.hasOwnProperty(preference)) {
                        thisField[preference] = [];
                    }

                    if (thisField[preference].indexOf(value) === -1) {
                        thisField[preference].push(value);
                    }

                    console.log(field);
                    console.log(value);
                    console.log(preference);
                    console.log($scope.userPreferences);
                }
                $scope.removePreference = function (field, index, preference) {
                    var fullPreference = $scope.userPreferences[field];
                    var currentPreference = $scope.userPreferences[field][preference];

                    currentPreference.splice(index, 1);

                    if (currentPreference.length === 0) {
                        delete $scope.userPreferences[field][preference];
                    }

                    if (!fullPreference.hasOwnProperty('like') && !fullPreference.hasOwnProperty('dislike')) {
                        delete $scope.userPreferences[field];
                    }

                }
                $scope.openSettings = function () {
                    $scope.showSettings = true;
                }
                $scope.hideModal = function () {
                    $scope.showModal = false;
                };

                var buildFilter = function () {
                    var filter = '';

                    for (var field in $scope.userPreferences) {
                        if ($scope.userPreferences.hasOwnProperty(field)) {
                            if (field.indexOf('_s') != -1) {
                                var newFilter = buildStringFilter(field.replace('_s', ''), $scope.userPreferences[field]);
                                if (newFilter !== '') {
                                    filter = appendFilter(filter, newFilter);
                                }
                            }
                            if (field.indexOf('_i') != -1) {
                                var newFilter = buildIntegerFilter(field.replace('_i', ''), $scope.userPreferences[field]);
                                if (newFilter !== '') {
                                    filter = appendFilter(filter, newFilter);
                                }
                            }
                        }
                    }

                    return filter === '' ? filter : "&filters=" + filter;
                }

                var buildStringFilter = function (fieldName, field) {
                    var filter = '';

                    if (field.hasOwnProperty('dislike')) {
                        var dislikeArray = field.dislike;

                        for (var i = 0; i < dislikeArray.length; i++) {
                            filter = appendFilter(filter, '-' + fieldName + '=' + dislikeArray[i]);
                        }
                    }

                    if (field.hasOwnProperty('like')) {
                        var likeArray = field.like;

                        if (headsOrTails()) { //Should we pick from existing likes ?
                            console.log('heads');
                            var selection = likeArray[Math.floor(Math.random() * likeArray.length)];
                            filter = fieldName + '=' + selection;
                        }
                    }

                    return filter;
                }
                var buildIntegerFilter = function (fieldName, field) {

                    var greaterThan = [];
                    var lesserThan = [];
                    var equals = [];

                    var filter = '';

                    if (field.hasOwnProperty('dislike')) {
                        var dislikeArray = field.dislike;
                        for (var i = 0; i < dislikeArray.length; i++) {

                            if (dislikeArray[i].indexOf('=') !== -1) {
                                filter = appendFilter(filter, '-' + fieldName + '=' + dislikeArray[i].replace('=', ''));
                            }

                            if (dislikeArray[i].indexOf('<') !== -1) {
                                greaterThan.push(dislikeArray[i].replace('>', ''))
                            }

                            if (dislikeArray[i].indexOf('>') !== -1) {
                                lesserThan.push(dislikeArray[i].replace('<', ''))
                            }

                        }

                    }

                    if (field.hasOwnProperty('like')) {
                        var likeArray = field.like;

                        for (var i = 0; i < likeArray.length; i++) {

                            if (likeArray[i].indexOf('=') !== -1) {
                                equals.push(likeArray[i].replace('=', ''));
                            }

                            if (likeArray[i].indexOf('<') !== -1) {
                                lesserThan.push(likeArray[i].replace('<', ''))
                            }

                            if (likeArray[i].indexOf('>') !== -1) {
                                greaterThan.push(likeArray[i].replace('>', ''))
                            }
                        }
                    }

                    var selection = '*';
                    if (headsOrTails()) { //Should we go for an exact integer ?
                        if (equals.length !== 0) {
                            selection = equals[Math.floor(Math.random() * equals.length)];
                        }

                    } else {
                        var floor = '*';
                        var ceiling = '*';
                        if (greaterThan.length !== 0) {
                            floor = Math.min.apply(Math, greaterThan) + 1; //Adding 1 to avoid >=
                        }

                        if (lesserThan.length !== 0) {
                            ceiling = Math.max.apply(Math, lesserThan) - 1; //Subtrackting 1 to avoid >=
                        }

                        selection = '[' + floor + ' TO ' + ceiling + ']';
                    }

                    filter = appendFilter(filter, fieldName + '=' + selection);
                    return filter;
                }
                var appendFilter = function (current, newFilter) {
                    var empty = current.length === 0;
                    return current + (empty ? '' : ',') + newFilter;
                }

                //50% chance to return true or false
                var headsOrTails = function () {
                    return Math.floor(Math.random() * 2) == 0 ? true : false;
                }

                $scope.loadNextStream();
            }
    )

    app.directive('errSrc', function () {
        return {
            link: function (scope, element, attrs) {
                element.bind('error', function () {
                    if (attrs.src != attrs.errSrc) {
                        attrs.$set('src', attrs.errSrc);
                    }
                });
            }
        }
    });

</script>

<script src="streamInfo/directive.js"></script>
<script src="modal/directive.js"></script>
<script src="swipeSettings/directive.js"></script>

</body>
</html>