<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>LiveSwiper</title>
    <link rel="icon" type="image/svg+xml" href="img/fav.svg">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/streamBox.css">
    <link rel="stylesheet" href="css/toolbar.css">
    <link rel="stylesheet" href="css/modal.css">
    <link rel="stylesheet" href="css/select.css">

    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

</head>
<body>
<div ng-app="LiveSwiper" ng-controller="customersCtrl" resize ng-cloak>

    <div class="col-md-3 streamInfo sidebar" style="z-index: 1; float: left;">
        <br>
        
        <stream-Info
                info='{field: "service_s", value: response.service_s,  src:"img/" +  response.service_s + ".png"}'
                add-pref='addPreference(field, value, preference)'>
        </stream-Info>

        <stream-Info
                info='{field: "username_s", value: response.username_s, src: response.profilePic_s === undefined ? "img/User.png" : response.profilePic_s}'
                add-pref='addPreference(field, value, preference)'>
        </stream-Info>

        <stream-Info info='{field: "viewers_i", value: response.viewers_i, src: "img/views.png"}'
                     add-pref='buildCustomPreference(field, value, preference)'>
        </stream-Info>

        <stream-Info info='{field: "uptime_i", value: secondsToHHMMSS(response.uptime_i), src: "img/uptime.png"}'
                     add-pref='buildCustomPreference(field, value, preference)'
                     ng-show='response.hasOwnProperty("uptime_i")'>
        </stream-Info>

        <stream-Info
                info='{field: "tag_s", value: response.tag_s, src: "img/tag.png"}'
                add-pref='addPreference(field, value, preference)'>
        </stream-Info>

        <stream-Info
                info='{field: "genre_s", value: response.genre_s, src: "img/gen.png"}'
                add-pref='addPreference(field, value, preference)'>
        </stream-Info>

        <stream-Info
                info='{field: "category_s", value: response.category_s, src: "img/cat.png"}'
                add-pref='addPreference(field, value, preference)'>
        </stream-Info>

        <stream-Info
                info='{field: "language_s", value: response.language_s, src: "img/lan.png"}'
                add-pref='addPreference(field, value, preference)'>
        </stream-Info>

    </div>
    <div class="col-md-3 streamSettings sidebar" style="float:right; z-index: 2;">
        <img class="col-md-3" id="swipeSettingsIcon" style="float:left;margin-top: 2px;  z-index: 2; cursor: pointer;"
             src="img/settings.png"
             ng-click="openSettings()">

        <h4 class="col-md-4 btn-responsive label1">Swipe Settings</h4>

        <div class="timer">
            <h3 class="col-md-12 btn-responsive label1" style="text-align:center">Next stream will load in:</h3>
            <img class="col-md-2" src="img/timer.png" style="text-align:center;">

            <h3 class="col-md-4 counterHHMMSS"
                style="border: thin black solid; padding: 5px; text-align:center;">
                {{secondsToHHMMSS(counter)}}</h3>
        </div>

    </div>

    <div class="videoWrapper" style="z-index: 0;">
        <iframe ng-src="{{embedURL}}" frameborder="0" allowfullscreen class="center-block" style="background: black;">
            Your browser does not support Iframes
        </iframe>
    </div>
    <br>
    <section id="toolbar" style="margin-left: 25%; width: 50%;">
        <p style="text-align:left" class="col-md-8 lead title">{{title}}</p>

        <div class="col-md-4 buttons">
            <button ng-click="loadNextStream(userPreferences)" class="btn btn-primary" style="text-align: left">Next
                Stream
            </button>
        </div>
    </section>

    <modal-dialog show='showModal' width='500px' height='300px'>

        <h3 class="col-md-12">Please specify a condition regarding <b>{{removeType(field)}}</b> that
            you {{preference}}:</h3>
        <br>
        <hr class="col-md-12">
        <br>

        <p class="col-md-2 selectLabel">{{removeType(field)}}</p>
        <select class='col-md-2 dropdown' ng-model="model.id" ng-selected="$first">
            <option value="="> =</option>
            <option value=">"> ></option>
            <option value="<" ng-show="HHMMSStoSeconds(value) > 0"> <</option>
        </select>

        <p class="col-md-1 selectLabel"> {{value}} </p>
        <br>
        <br>
        <button class="btn-responsive btn btn-success" style="position: absolute;right:0; bottom:0;margin:2px"
                ng-click='addPreference(field, model.id + HHMMSStoSeconds(value), preference); hideModal()'>
            Submit
        </button>

    </modal-dialog>
    <modal-dialog show='showSettings' width='750px' height='90%'>
        <h3 style="text-align: center"> Swipe Settings </h3>

        <div ng-repeat="(key, value) in userPreferences">

            <h4>
                {{removeType(key)}} :
            </h4>

            <div ng-repeat="x in value.like" style="border: thin green solid; margin-right: 3px" class="fit pill btn">
                {{key.indexOf('time') !== -1 ? secondsToHHMMSS(x, true) : x}}
                <button ng-click='removePreference(key, $index, "like")'> x</button>
            </div>

            <div ng-repeat="x in value.dislike" style="border: thin red solid; margin-right: 3px" class="fit pill btn">
                {{key.indexOf('time') !== -1 ? secondsToHHMMSS(x, true) : x}}
                <button ng-click='removePreference(key, $index, "dislike")'>x</button>
            </div>

            <br>
        </div>
        <br/>
        <h4> Play new stream every: </h4>
        <input class="col-md-1" type="text" ng-model="changeTime.num"/> <h4 class="col-md-1" style="margin-top:2px">
        seconds</h4>
        <style>
            .swipeSettings button {
                text-align: right;
                padding: 5px;
            }

            .fit {
                display: inline-block
            }
        </style>

    </modal-dialog>
</div>

<script>
    var app = angular.module('LiveSwiper', []);
    app.controller('customersCtrl', function ($scope, $sce, $http, $timeout) {
                $scope.userPreferences = {};
                var serviceConfiguration = {
                    Twitch: {
                        additionalParameters: '',
                        getCustomUrl: function (response) {
                            return response.webEmbedURL_s.replace('hls', 'embed');
                        }
                    },
                    Ustream: {
                        additionalParameters: 'autoplay=true'
                    },
                    YouTube: {
                        additionalParameters: 'autoplay=1&controls=1'
                    },
                    Dailymotion: {
                        additionalParameters: 'autoplay=1'
                    },
                    Hitbox: {
                        additionalParameters: ''
                    },
                    Bambuser: {
                        additionalParameters: 'autoplay=1'
                    },
                    Azubu: {
                        additionalParameters: ''
                    }
                }
                $scope.changeTime = {
                    num: 360
                };

                $scope.loadNextStream = function (userPreferences) {
                    $http.get("http://api.liveguide.li/getRandomStream" + '?a=' + Math.floor((Math.random() * 1000) + 1) + buildFilter(userPreferences)) //Prevent caching with random parameter
                            .success(function (response) {
                                response = response.response.content;
                                $scope.response = response;

                                if (response.hasOwnProperty('title')) {
                                    $scope.title = response.title[0];
                                } else {
                                    console.log('Stream response did not contain a title');
                                    $scope.title = 'Unknown Stream';
                                }

                                if (response.hasOwnProperty('webEmbedURL_s')) {
                                    $scope.embedURL = $sce.trustAsResourceUrl(buildStreamURL(response, serviceConfiguration));
                                } else {
                                    handleIncorrectResponse('missing web webEmbedURL_s')
                                }

                                resetCounter();
                            }).error(function (data, status, headers, config) {
                                handleIncorrectResponse(status);
                            });
                }
                $scope.buildCustomPreference = function (field, value, preference) {
                    console.log(preference);
                    $scope.showModal = true;
                    $scope.field = field;
                    $scope.value = value;
                    $scope.preference = preference;
                }
                $scope.addPreference = function (field, value, preference) {
                    if (!$scope.userPreferences.hasOwnProperty(field)) {
                        $scope.userPreferences[field] = {};
                    }

                    var thisField = $scope.userPreferences[field];

                    if (!thisField.hasOwnProperty(preference)) {
                        thisField[preference] = [];
                    }

                    if (thisField[preference].indexOf(value) === -1) {
                        thisField[preference].push(value);
                    }

                    console.log(field);
                    console.log(value);
                    console.log(preference);
                    console.log($scope.userPreferences);
                }
                $scope.removePreference = function (field, index, preference) {
                    var fullPreference = $scope.userPreferences[field];
                    var currentPreference = $scope.userPreferences[field][preference];

                    currentPreference.splice(index, 1);

                    if (currentPreference.length === 0) {
                        delete $scope.userPreferences[field][preference];
                    }

                    if (!fullPreference.hasOwnProperty('like') && !fullPreference.hasOwnProperty('dislike')) {
                        delete $scope.userPreferences[field];
                    }

                }
                $scope.openSettings = function () {
                    $scope.showSettings = true;
                }
                $scope.hideModal = function () {
                    $scope.showModal = false;
                };
                $scope.removeType = function (field) {
                    if (typeof field !== 'undefined') {
                        return field.replace('_s', '').replace('_i', '');
                    }
                    return '';
                }
                $scope.secondsToHHMMSS = function (seconds, hasOperator) {
                    var operator = '';

                    if (hasOperator) {
                        operator = seconds.charAt(0);
                        seconds = seconds.replace(operator, '');
                    }

                    var sec_num = parseInt(seconds, 10); // don't forget the second param
                    var hours = Math.floor(sec_num / 3600);
                    var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
                    var seconds = sec_num - (hours * 3600) - (minutes * 60);

                    if (hours < 10) {
                        hours = "0" + hours;
                    }
                    if (minutes < 10) {
                        minutes = "0" + minutes;
                    }
                    if (seconds < 10) {
                        seconds = "0" + seconds;
                    }
                    var time = hours + ':' + minutes + ':' + seconds;
                    return operator + time;
                }
                $scope.HHMMSStoSeconds = function (HHMMSS) {
                    //Do we have a regex match for HHMMSS format ?
                    if (/([0-9]+):([0-5][0-9]):([0-5][0-9])/.test(HHMMSS)) {
                        var time = HHMMSS.split(':');
                        return (+time[0]) * 60 * 60 + (+time[1]) * 60 + (+time[2]);
                    } else {
                        return HHMMSS;
                    }
                }

                var handleIncorrectResponse = function (message) {
                    //TODO - add proper error message in UI
                    console.log('There was a problem with current service json response: ' + message + ' . Loading next stream.');
                    $scope.loadNextStream();
                }
                var buildFilter = function (userPreferences) {
                    var filter = '';

                    for (var field in userPreferences) {
                        if (userPreferences.hasOwnProperty(field)) {
                            var newFilter;

                            if (getType(field) === 'string') {
                                newFilter = buildStringFilter($scope.removeType(field), userPreferences[field]);
                            }

                            if (getType(field) === 'int') {
                                newFilter = buildIntegerFilter($scope.removeType(field), userPreferences[field]);
                            }

                            if (newFilter !== '') {
                                filter = appendFilter(filter, newFilter);
                            }
                        }
                    }

                    return filter === '' ? filter : "&filters=" + filter;
                }
                var buildStringFilter = function (fieldName, field) {
                    var filter = '';

                    if (field.hasOwnProperty('dislike')) {
                        var dislikeArray = field.dislike;

                        for (var i = 0; i < dislikeArray.length; i++) {
                            filter = appendFilter(filter, '-' + fieldName + '=' + dislikeArray[i]);
                        }
                    }

                    if (field.hasOwnProperty('like')) {
                        var likeArray = field.like;

                        if (headsOrTails()) { //Should we pick from existing likes ?
                            var selection = likeArray[Math.floor(Math.random() * likeArray.length)];
                            filter = fieldName + '=' + selection;
                        }
                    }

                    return filter;
                }
                var buildIntegerFilter = function (fieldName, field) {

                    var greaterThan = [];
                    var lesserThan = [];
                    var equals = [];

                    var filter = '';

                    if (field.hasOwnProperty('dislike')) {
                        var dislikeArray = field.dislike;
                        for (var i = 0; i < dislikeArray.length; i++) {

                            if (dislikeArray[i].indexOf('=') !== -1) {
                                filter = appendFilter(filter, '-' + fieldName + '=' + dislikeArray[i].replace('=', ''));
                            }

                            if (dislikeArray[i].indexOf('<') !== -1) {
                                greaterThan.push(dislikeArray[i].replace('>', ''))
                            }

                            if (dislikeArray[i].indexOf('>') !== -1) {
                                lesserThan.push(dislikeArray[i].replace('<', ''))
                            }

                        }

                    }

                    if (field.hasOwnProperty('like')) {
                        var likeArray = field.like;

                        for (var i = 0; i < likeArray.length; i++) {

                            if (likeArray[i].indexOf('=') !== -1) {
                                equals.push(likeArray[i].replace('=', ''));
                            }

                            if (likeArray[i].indexOf('<') !== -1) {
                                lesserThan.push(likeArray[i].replace('<', ''))
                            }

                            if (likeArray[i].indexOf('>') !== -1) {
                                greaterThan.push(likeArray[i].replace('>', ''))
                            }
                        }
                    }

                    var selection = '*';
                    if (headsOrTails()) { //Should we go for an exact integer ?
                        if (equals.length !== 0) {
                            selection = equals[Math.floor(Math.random() * equals.length)];
                        }
                    } else {
                        var floor = '*';
                        var ceiling = '*';
                        if (greaterThan.length !== 0) {
                            floor = Math.min.apply(Math, greaterThan) + 1; //Adding 1 to avoid >=
                        }

                        if (lesserThan.length !== 0) {
                            ceiling = Math.max.apply(Math, lesserThan) - 1; //Subtrackting 1 to avoid >=
                        }

                        selection = '[' + floor + ' TO ' + ceiling + ']';
                    }

                    filter = appendFilter(filter, fieldName + '=' + selection);
                    return filter;
                }
                var appendFilter = function (current, newFilter) {
                    var empty = current.length === 0;
                    return current + (empty ? '' : ',') + newFilter;
                }
                var buildStreamURL = function (response, serviceConfiguration) {
                    var service = response.service_s;
                    var url = response.webEmbedURL_s;

                    if (serviceConfiguration.hasOwnProperty(service)) {
                        //$scope.service = response.service_s
                        var serviceConfig = serviceConfiguration[service];

                        if (serviceConfig.hasOwnProperty('getCustomUrl')) {
                            url = serviceConfig.getCustomUrl(response);
                        }

                        var join = url.indexOf('?') === -1 ? '?' : '&';
                        return url + join + serviceConfig.additionalParameters;
                    }

                    return url;
                }
                var getType = function (field) {
                    return field.indexOf('_s') !== -1 ? 'string' : 'int';
                }
                //50% chance to return true or false
                var headsOrTails = function () {
                    return Math.floor(Math.random() * 2) == 0;
                }
                var resetCounter = function () {
                    $scope.counter = $scope.changeTime.num;
                }
                var updateCounter = function () {
                    if ($scope.counter === 0) {
                        $scope.loadNextStream();
                    } else {
                        $scope.counter--;
                    }
                    $timeout(updateCounter, 1000);
                }
                var initializeApp = function (userPreferences) {
                    $timeout(updateCounter, 1000); //Start counter;
                    $scope.loadNextStream(userPreferences); //Load the first stream;
                }

                initializeApp($scope.userPreferences);
            }
    )

    app.directive('errSrc', function () {
        return {
            link: function (scope, element, attrs) {
                element.bind('error', function () {
                    if (attrs.src != attrs.errSrc) {
                        attrs.$set('src', attrs.errSrc);
                    }
                });
            }
        }
    });
</script>

<script src="streamInfo/directive.js"></script>
<script src="modal/directive.js"></script>

</body>
</html>