<div class="row">

    <div class="col-md-1">
        <img ng-src="{{streamInfo.src}}" style="max-width:100%">
    </div>

    <div class="col-md-2" style="margin-top:6px; margin-left: 5px">
        <p> {{streamInfo.value}} </p>
    </div>

    <div class="col-md-6">
        <button class="btn-responsive btn btn-success" style="float: right; margin-left:5px"
                ng-click='addPreference({field: streamInfo.field, value: streamInfo.value, preference: "like"})'>
            Like
        </button>

        <button class="btn-responsive btn btn-danger" style="float: right"
                ng-click='addPreference({field: streamInfo.field, value: streamInfo.value, preference: "dislike"})'>
            Dislike
        </button>
    </div>
</div>
<hr style="margin-right:25%;">
