<div class="row">

    <div class="col-md-2">
        <img ng-src="{{streamInfo.src}}" err-src="img/User.png" style="max-width:100%"
             title="{{streamInfo.field.replace('_i', '').replace('_s', '')}}">
    </div>

    <div class="" style="margin-top:0px; float:left; margin-left: 5px; margin-top: 5px;">
        <h4> {{streamInfo.value}} </h4>
    </div>

    <div class="col-md-6" style="float:right">
        <button class=" btn btn-success " style="float: right; margin-left:5px; margin-top:2px;"
                ng-click='addPreference({field: streamInfo.field, value: streamInfo.value, preference: "like"})'>
            Like
        </button>

        <button class=" btn btn-danger" style="float: right; margin-top:2px;"
                ng-click='addPreference({field: streamInfo.field, value: streamInfo.value, preference: "dislike"})'>
            Dislike
        </button>
    </div>
</div>
<hr>
